<div class="users index">
  <h2>Users</h2>

  <%= link_to("Add New User", '#', :class => 'action new') %>

  <table class="listing" summary="User list">
    <tr class="header">
      <th> </th>
      <th>User</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td class="actions">
        <%= link_to("Show", '#', :class => 'action show') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>