
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <style>
  body {
    
    background-color: #A0A0A0;
  }
  </style>
</head>

<body>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'btn btn-primary') %>

<div class="container-fluid">
	<h2 class="text-center"><%= @player.name %></h2>
	<h3 class="text-center">Player is ranked: <%= @player.ranking %><h3>
	<h3 class="text-center">Point Total: <%= @player.points %> </h3>
	<h4>Notes:</h4>
</div>
</body>
</html>